/*margin -bottom : 5, 10, 15, 20, 25*/
.mg-b-5 {
    margin-bottom:5px ; 
}
.mg-b-10 {
    margin-bottom:10px ; 
}.mg-b-15 {
    margin-bottom:15px ; 
}.mg-b-20 {
    margin-bottom:20px ; 
}.mg-b-60 {
    margin-bottom:60px ; 
}

/* text-transform */

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform:capitalize ;
}

/*float left */ 
.float-left {
    float:left ; 
}
/*overflow:hidden*/
.overflow-hidden{
    overflow:hidden ; 
}
/*colors*/


